.main-header {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  background-color: #8fbc8f;
  color: white;
}

.header-menu {
  height: 100%;
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.header-menu__item {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active-link {
  background-color: rgba(0, 0, 0, 10%);
}

.header-menu__item:hover {
  background-color: rgba(255, 255, 255, 10%);
}
