<div class="main-header">
  <h1>Управление записью пациента</h1>
  <ul class="header-menu">
    <ng-container *ngFor="let item of menuItems">
      <li
        class="header-menu__item"
        routerLink="{{item.link}}"
        routerLinkActive="active-link"
      >{{item.title}}</li>
    </ng-container>
  </ul>
</div>
