app-modal {
  display: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 10000;
  overflow: auto;
  animation: background-change 1s forwards;
}

.modal-body {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19);
}

body.modal-open {
  /*overflow: hidden;*/
}

@keyframes background-change {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 30%);
  }
}
