:host:not(:last-child) {
  margin-right: 0.5rem;
}

.specialist-wrapper {
  min-height: 100%;
  min-width: 200px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: 1px solid var(--green-100);
  border-radius: 0.5rem;
}

.selected-day,
.specialist-name,
.slots {
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

.selected-day {
  background-color: var(--green-200);
  color: black;
}

.specialist-name {
  background-color: var(--green-500);
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}

.slots {
  padding: 0.5rem;
  background-color: var(--green-100);
  color: black;
  border-radius: 0 0 0.5rem 0.5rem;
}

.slots__item {
  padding: 0.5rem;
  background-color: white;
  color: black;
  border-radius: 0.25rem;
}

.slots__item:not(:last-child) {
  margin-bottom: 0.25rem;
}

.slots__item-scheduled {
  background-color: var(--green-400);
  color: white;
}

.slot-wrapper {
  display: inline-flex;
}

.slots__item-scheduled .slot-wrapper .slot-time {
  margin-right: 0.5rem;
}
