<ng-container *ngIf="dateDay !== undefined">
  <div class="specialist-wrapper">
    <div class="specialist-name">
      {{specialistName | initials}}
    </div>
    <div class="selected-day">
      {{dateDay | date: 'dd.MM.YYYY'}}
    </div>
    <div class="slots">
      <ng-container *ngFor="let slot of slots">
        <div class="slots__item" [ngClass]="{'slots__item-scheduled': slot.fio !== null}" (click)="slotClick.emit(slot)">
          <div class="slot-wrapper">
            <div class="slot-time">{{slot.startTime | date:'HH:mm'}}</div>
            <div class="slot-name" *ngIf="slot.fio !== null">{{slot.fio | initials}}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
