.filters {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  height: 100%;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid darkseagreen;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 20%);
}

.filters__specialists {
  flex: 1;
  overflow: auto;
}

.submit-filters-btn {
  margin-top: 0.5rem
}
