<div class="schedule-items-wrapper">
  <div class="schedule-items">
    <ng-container *ngFor="let item of childData">
      <app-schedule-item
        (slotClick)="makePatientRecord($event, item)"
        [dateDay]="item.day"
        [specialistName]="item.specialistName"
        [slots]="item.slots"
      ></app-schedule-item>
    </ng-container>
  </div>
</div>

<app-modal id="make-record" (closeModal)="onModalClose()">
  <p-card header="Запись пациента на приём">
    <form id="make-record-form" class="modal-form" [formGroup]="patientRecordForm" (ngSubmit)="saveRecord()">
      <p>День: {{slotDay | date: 'dd.MM.YYYY'}}</p>
      <p>Время: {{slotTime | date:'HH:mm'}}</p>
      <p>Специалист: {{slotSpecialist}}</p>
      <span class="p-float-label input-label">
        <input class="modal-input" id="patient-fio" type="text" pInputText formControlName="fio">
        <label for="patient-fio">ФИО пациента</label>
      </span>
      <small *ngIf="this.patientRecordForm.get('fio')?.hasError('required') && (this.patientRecordForm.get('fio')?.dirty || this.patientRecordForm.get('fio')?.touched)">Обязательное поле</small>
    </form>
    <ng-template pTemplate="footer">
      <button
        pButton
        form="make-record-form"
        label="Записать"
        [disabled]="!patientRecordForm.valid"
        type="submit"
      ></button>
      <button
        pButton
        class="p-button-text p-button-secondary"
        label="Отменить"
        (click)="onModalClose()"
      ></button>
    </ng-template>
  </p-card>
</app-modal>
