.schedule-items-wrapper {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.schedule-items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
}
