<div class="component-wrapper">
  <div class="button-menu">
    <button pButton label="Пациенты по дням" (click)="selectChart('Нагрузка пациентами по дням', recordsByDayOptions)"></button>
    <button pButton label="Нагрузка специалистов" (click)="selectChart('Нагрузка специалистов', recordsBySpecialistOptions)"></button>
    <button pButton label="Сравнительная нагрузка" (click)="selectChart('Сравнительная плановая нагрузка специалистов', specialistLoadOptions)"></button>
  </div>
  <h2>{{header}}</h2>
  <div echarts [options]="chartOptions" class="demo-chart"></div>
</div>
