<div class="component-wrapper">
  <app-filters-schedule
    (search)="onSearch()"
    [specialists]="specialists"
  ></app-filters-schedule>
  <div class="schedule">
    <app-table-schedule [scheduleItems]="schedule" [specialists]="specialists"></app-table-schedule>
  </div>
</div>
