:host {
  display: block;
  height: calc(100% - var(--header-height));
}

.component-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.schedule {
  flex: 1;
  margin-left: 1rem;
  background-color: white;
  border: 1px solid darkseagreen;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 20%);
}
