@import "~primeng/resources/themes/saga-green/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

:root {
  --header-height: 60px;
}

body, html {
  min-width: 960px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.input-label {
  margin: 2rem 0 0 0;
}

.modal-form {
  min-width: 400px;
  max-width: 600px;
}

